.navbar {
  background-color: rgb(36, 41, 47);
  display: flex;
  flex-direction: row;
  padding: 12px 20px;
  justify-content: space-between;
}

.left {
  display: flex;
  width: 50%;
}

.img {
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.input {
  border: 0.1px solid rgba(255, 255, 255, 0.7);
  width: 270px;
  padding: 3.5px 12px;
  background: none;
  border-radius: 6px;
  box-shadow: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.input:focus {
  outline: none !important;
}
*/ .input[placeholder],
[placeholder],
*[placeholder] {
  color: rgba(255, 255, 255, 0.9) !important;
  font-weight: 400;
}

.navitem {
  display: flex;
}

ul {
  margin: 0;
  padding-inline-start: 15px;
}

.link {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  margin: 0px 10px;
}

.link:first-child {
  margin-left: 0px;
}

.link:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  width: 40%;
  justify-content: right;
  margin-right: 10px;
}

.icon {
  cursor: pointer;
  margin: 0 7px;
}

.icon:hover path {
  fill: rgba(255, 255, 255, 0.5);
}

.pro-img {
  width: 20px;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left input {
    margin: 20px 0;
  }

  .right {
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center;
  }
}
