i {
  color: gray;
}

.repo {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
  padding: 25px 0;
}

.top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.repo-name {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.visibility {
  margin: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 20px;
  padding: 1px 5px;
  font-size: 11px;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: 700;
  color: gray;
}

.bottom-row {
  display: flex;
}

.subitem:nth-child(2) {
  margin: 0 15px;
}

.subitem span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.582);
  font-weight: 600;
}

.description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.76);
  font-weight: 600;
}
