.user-infos {
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 260px;
  position: relative;
  /* // border-bottom: solid 1px #dedede; */
}
.user {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.user h5 {
  font-size: 24px;
  margin: 10px 0 0 0;
}

.user p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px;
}

.user-bio {
  padding: 15px 0;
  font-weight: 400;
  font-size: 16px;
}
.user button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  padding: 4px 0;
}

.user button:hover {
  background-color: #9997973d;
}

.user-avatar {
  width: 260px;
  height: 260px;
  border: 2.5px solid #d0d7de;
  padding: 0;
  margin: 0;
}

.infos {
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  color: black;
}
.info {
  font-size: 14px;
  /* margin-right: 15px; */
  color: #999797;
  display: flex;
  align-items: center;
}

.info span {
  color: rgba(0, 0, 0, 0.733);
  font-weight: 500;
  margin-left: 5px;
}

.followers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0;
  color: black;
}
